/* This website primarily uses Bootstrap for styling.
All CSS in this document is meant to extend this styling. */

.bg-hero-image {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.8)
    ),
    url(resources/images/hero.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

@media only screen and (max-width: 480px) and (prefers-color-scheme: dark) {
  @-moz-document url-prefix() {
    .bg-hero-image {
      background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.8)
      );
    }
  }
}

@media only screen and (min-width: 1080px) {
  .bg-hero-image {
    background-size: cover;
    height: 80vh;
    width: 100vw;
  }
}
